body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* --------------- Search Box --------------- */
.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(3, 118, 211);
  width: 380px;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  border-right: none;
}
.search-field { 
  width: 100%;
  padding: 0px;
  border: none;
  margin-left: 10px;
  font-size: 18px!important;
}
.search-field:hover{
  outline: none;
  border-bottom: 1px solid #7c7c7c;
}
.search-field:focus{
  outline: none;
  border-bottom: 1px solid #7c7c7c;
}

/* --------------- Search Button and Buy Now Button --------------- */
.search-button,
.buy-now {
  padding: 8px 15px!important;
  border-radius: 5px;
  margin-left: 20px;
  background-color: rgb(104, 67, 60)!important;
  color: rgb(245, 245, 245)!important; 
}
.search-button:hover,
.buy-now:hover {
  background-color: rgb(252, 252, 252)!important; 
  color: rgb(63, 42, 42)!important;
  border: 1px solid rgb(63, 42, 42);  
}

/* --------------- Products --------------- */
#all-products { 
  text-align: center;    
}
.card-thumbnail{
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.card-thumbnail img{  
  max-height: 250px;
  max-width: 100%;  
}
.card-footer{
  background-color: transparent!important;
  border: none!important;
}
.add-to-cart{
  background-color: rgb(131, 55, 41)!important;
  color: rgb(245, 245, 245)!important;
  padding: 8px 15px!important;
}
.add-to-cart:hover{
  background-color: rgb(143, 58, 44)!important;  
}
.details{
  background-color: rgb(138, 64, 51)!important;
  color: rgb(245, 245, 245)!important;
  padding: 8px 15px!important;
}
.details:hover{
  background-color: rgb(167, 87, 73)!important;
  color: rgb(245, 245, 245)!important;
  padding: 8px 15px!important;
  transition: all 0.3s ease;
}
#all-products .col:hover .card{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* --------------- Cart --------------- */
.cart{
  width: 350px;  
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}

/* --------------- Media Query --------------- */
@media only screen and (max-width: 768px) {  
  .cart {
    width: 300px;    
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}

